.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
inst/doc
vignettes/*.bbl
vignettes/*.brf
vignettes/*.eps
vignettes/*.gz
vignettes/*.log
vignettes/*.R
vignettes/*.tex
vignettes/gbm.pdf
